
@{
    ViewData["Title"] = "ISLH - Hlavní stránka";
}


<div style="margin: 80px; padding: 40px; width: auto; height:auto;" class=" mdl-card mdl-shadow--2dp">
    <h3 style="margin-bottom: 10px;">Vítejte!</h3>
    <p>@ViewData["UserInfo"]</p>
    <br />
    <div style="display: flex; flex-direction: row">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="width: 200px; height: 200px">
            Mapa holin
        </button>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="width: 200px; height: 200px; margin-left: 20px;">
            Mapa zalesnění
        </button>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="width: 200px; height: 200px;  margin-left: 20px;">
            Statistky
        </button>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="width: 200px; height: 200px;  margin-left: 20px; ">
            Grafy
        </button>
    </div>
</div>



